*{
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    font-family: 'Courier New', Courier, monospace;
}

.gow{
    background-color:beige;
    height:450px;
}

.row{
    position:relative;
    top:8px;
}

.game-order{
    height:350px;
}



.game-order{
    background-color: brown;
}


.card {
    border: none;
    height:20rem;
}

.card img{
    height:10rem;
}

.card-text{
    color:black;
    text-align:center;
}

.card-date{
    color:black;
    text-align:center;
}