*{
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    font-family: 'Courier New', Courier, monospace;
}

.gow{
    background-color:beige;
    height:400px;
}

.row{
    position:relative;
    top:8px;
}

.pre-order{
    position:relative;
    bottom:6px;
    height:450px;
}

#order h1{
    background-color: brown;
    text-align: center;
    position:relative;
    bottom:-8px;
}

.game-order{
    background-color: brown;
}


.card {
    border: none;
}

.card img{
    height:10rem;
}

.card p{
    text-align: center;
    color:black;
}